body, html {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #808080;
}

#frame {
    width: 90%;
    margin: 0 5% 0 5%;
}

h1 {
    margin-top: 30px;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    height: 40px;
    font-family: "HelveticaNeue-Light";
    font-size: 20px;
}

input[type="button"] {
    font-size: 40px;
    margin-top: 30px;
}

pre {
    margin-top: 30px;
}

#thinking-wrapper {
    margin-top: 30px;
    text-align: center;
}

#thinking-img {
    height: 60px;

}

#results {
    margin-top: 30px;
    display: flex;
}

#tweets {
    margin-right: 5px;
}

#tweets, #personality {
    display: inline-block;
    flex: 1;
    border: 1px solid #dfdfdf;
    padding: 0 10px 10px 10px;
}

#tweets ul {
    padding: 0;
}

#tweets li {
    display: block;
    margin-top: 15px;
}

.tw_header, .tw_footer {
    font-size: 80%;
    display: flex;
}

.tw_name {
    font-weight: bold;
}

.tw_handle, .tw_time {
    color: #D0D0D0;
    font-size: 80%;
    padding-left: 3px;
}

.tw_time::before {
    content: "\00b7";
}

.tw_sent {
    margin-top: 3px;
}

.tw_sent_value {
    padding-left: 3px;
    font-weight: bold;
    color: black;
}

#personality {
    margin-left: 5px;
}

#personality h2 {
    text-align: center;
}
